BasedOnStyle: LLVM

# Customizations
IndentWidth: 4
TabWidth: 4
UseTab: Never

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 100
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatementsExceptControlMacros
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: false
AlwaysBreakAfterReturnType: None
SortIncludes: false

# C-specific tweaks
PointerAlignment: Left
