# accepted suffixes KB,MB,GB
pool_file_size = 1GB
max_chunk_size = 4KB


# domain address
rng_module = /usr/local/lib/libqrng.so

# rng values. negative values can be accepted
min_rng_value = 1
max_rng_value = 255
